@model KartaPracy.Models.Sklep

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<h2>Informacje o sklepie @Model.Nazwa</h2>

<html>
    <head>
        <title>@Model.Nazwa</title>
    </head>
    <body>
        <div>
            <ul>
               
                <li> Nip sklepu: @Model.Nip</li>
                <li> Format sklepu: @Model.FormatSklepu.JakiFormatSklepu</li>
                <h3>Kontakt do sklepu</h3>
                <li> Imię i Nazwisko: @Model.Kontakt.Nazwisko</li>
                <li>Telefon: @Model.Kontakt.Telefon</li>
                <li>Email: @Model.Kontakt.Email</li>
                <li>Opis: @Model.Kontakt.Opis</li>
                <li>Inna osoba do kontaktu: @Model.Kontakt.OsobaDoKontaktu</li>

            </ul> 
        </div>
    </body>
</html>