@model System.Collections.Generic.List<KartaPracy.Models.Sklep>

@{
    ViewBag.Title = "Sklepy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Sklepy</h2>
<p>@Html.ActionLink("Dodaj sklep", "New", "Sklep", null, new {@class = "btn btn-primary"})</p>

@if (!Model.Any())
{
    <p>Nie ma żadnego sklepu</p>
}
else
{ 
<table id="sklep" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Sklep</th>
            <th>Kontakt</th>
            <th>Typ sklepu</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sklep in Model)
        {
            <tr>
                <td>@Html.ActionLink(sklep.Nazwa, "Edit", "Sklep", new {id = sklep.Id}, null)</td>
                <td>@sklep.Kontakt.Nazwisko</td>
                <td>@sklep.FormatSklepu.JakiFormatSklepu</td>
                <td><button data-sklep-id="@sklep.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
          var table=  $("#sklep").DataTable();

            $("#sklep").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Czy na pewno chcesz usunąć sklep?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/sklep/" + button.attr("data-sklep-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        });
</script>
       

  
}