@model System.Collections.Generic.List<Repozytorium.Models.Sklep>

@{
    ViewBag.Title = "Sklepy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Sklepy</h2>
<p>@Html.ActionLink("Dodaj sklep", "New", "Sklep", null, new {@class = "btn btn-primary"})</p>

@if (!Model.Any())
{
    <p>Nie ma żadnego sklepu</p>
}
else
{
    <table id="sklep" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Sklep</th>
                <th>Kontakt</th>
                <th>Proponowana umowa</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sklep in Model)
            {
                <tr>
                    <td>@Html.ActionLink(sklep.Nazwa, "Details", "Sklep", new {id = sklep.SklepId}, null)</td>
                    <td>
                        @Html.ActionLink("Dodaj kontakt", "Create", "Kontakt", new {id = sklep.SklepId}, null)
                        @if (@sklep.Kontakty.Count == 0)
                        {
                            <span>Brak kontaktów</span>
                        }
                        else
                        {
                            foreach (var item in @sklep.Kontakty)
                            {
                                <p>@item.Nazwisko @item.Imie tel.@item.Telefon</p>
                            }
                        }
                    </td>
                    <td>@sklep.FormatSklepu.JakiFormatSklepu</td>
                    <td><button data-sklep-id="@sklep.SklepId" class="btn btn-link js-delete">Usuń</button>@Html.ActionLink("Edytuj", "Edit", "Sklep", new {id = sklep.SklepId}, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
          var table=  $("#sklep").DataTable();

            $("#sklep").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Czy na pewno chcesz usunąć sklep? Pamiętaj, że usuwając sklep usuwasz też zdarzenie związane z tym sklepem", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/sklep/" + button.attr("data-sklep-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

        });
</script>
}