@using KartaPracy.Models
@model KartaPracy.ViewModels.SklepViewModel

@{
    ViewBag.Title = Model.Tytul;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Tytul</h2>
@using (@Html.BeginForm("Save", "Sklep"))
{
   <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Nazwa)
        @Html.TextBoxFor(s => s.Sklep.Nazwa, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Sklep.Nazwa)
    </div>
    <div class="form-group">

        @Html.LabelFor(s => s.Sklep.KontaktId)
       
        @Html.DropDownListFor(s => s.Sklep.KontaktId, new SelectList(Model.Kontakts, "Id", "Nazwisko"), "Wybierz osobę do kontaktu", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Sklep.KontaktId)
        <p>Jeśli nie ma na liście dodaj nową osobę</p> @Html.ActionLink("Dodaj", "New", "Kontakt", null, new { @class = "btn btn-primary" })
    </div>

  <h3>Adres sklepu</h3>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Miejscowosc)
        @Html.TextBoxFor(s => s.Sklep.Miejscowosc, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Sklep.Miejscowosc)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Ulica)
        @Html.TextBoxFor(s => s.Sklep.Ulica, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Sklep.Ulica)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Kod)
        @Html.TextBoxFor(s => s.Sklep.Kod, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Sklep.Kod)
    </div>

   
    <h3>Informacje o sklepie</h3>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.FormatSklepuId)
        @Html.DropDownListFor(s => s.Sklep.FormatSklepuId, new SelectList(Model.FormatSklepus, "Id", "JakiFormatSklepu"), "Wybierz format sklepu", new {@class = "form-control"})
        @Html.ValidationMessageFor(s => s.Sklep.FormatSklepuId)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.TypParking)
        <p> @Html.RadioButtonFor(m => m.Sklep.TypParking, "Brak parkingu")Brak</p>
        <p> @Html.RadioButtonFor(m => m.Sklep.TypParking, "Więcej jak 200m2")Więcej jak 200m2</p>
        <p> @Html.RadioButtonFor(m => m.Sklep.TypParking, "Mniej jak 200m2")Mniej jak 200m2</p>
    </div>

    <div class="checkbox">
        <p>Czy sklep jest w sieci</p>
        <label>
            @Html.CheckBoxFor(m => m.Sklep.CzySieciowy) Tak
        </label>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Nip)
        @Html.TextBoxFor(s => s.Sklep.Nip, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Sklep.Uwagi)
        @Html.TextAreaFor(s => s.Sklep.Uwagi, new {@class = "form-control"})
        @Html.ValidationMessageFor(s => s.Sklep.Uwagi)
    </div>

    @Html.HiddenFor(s => s.Sklep.Id)
    <button type="submit" class="btn btn-primary">Zapisz</button>
}
