@model System.Collections.Generic.List<KartaPracy.Models.Kontakt>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Właściel sklepu/ osoba do kontaktu</title>
    </head>
    <body>
        <h2>Właściel sklepu/ osoba do kontaktu</h2>
        <div>
            <p>@Html.ActionLink("Dodaj nowy kontakt", "New", "Kontakt", null, new {@class = "btn btn-primary"})</p>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nazwisko</th>
                        <th>Telefon</th>
                        <th>Email</th>
                        <th>Inna osoba do kontaktu</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var kontakt in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(kontakt.Nazwisko, "Edit", "Kontakt", new {id = kontakt.Id}, null)</td>
                            <td>@kontakt.Telefon</td>
                            <td>@kontakt.Email</td>
                            <td>@kontakt.OsobaDoKontaktu</td>
                        </tr>
                    }
                </tbody></table>
        </div>
    </body>
</html>